html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

// font
@font-face {
  font-family: "Built Titling Sb";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/built_titling/built-titling-rg.ttf");
}
