*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}


html {
  // this defines what 1rem is
  font-size: 56.5%;

  @include mq(tab-l) {
    font-size: 54.25%;
  }

  @include mq(tab-p) {
    font-size: 50%;
  }

  @include mq(huge) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
