// main footer
.main-footer {
  background-color: #e1d9d2;

  &__content {
    @extend .container;

    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    @media (max-width: 37.3em) {
      justify-content: center;
      text-align: center;
      padding: 4rem 0;
    }
  }

  &__brand {
    @media (max-width: 37.3em) {
      order: -1;
      margin-bottom: 4rem;
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 37.3em) {
      margin-bottom: 3rem;
    }

    a {
      color: #353736;
      font-family: Raleway;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.95px;
      margin: 1rem;
    }
  }
}
