// company brand
.payvoyage {
  &--grey {
    .payvoyage__pay {
      color: #c4c2c2;
    }
  }
  text-transform: uppercase;
  width: 170px;
  color: #30b6d5;
  font-family: "Built Titling Sb";
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 2.27px;
  &__pay {
    color: #ffffff;
  }
}

// main header
.main-header {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/women-naked.png");
  background-repeat: no-repeat;
  background-size: cover;
}

// navigation bar============================================================
.main-nav {
  &__container {
    @media (max-width: 1234px) {
      padding: 0 2rem;
    }
  }
}

// desktop nav
@media (min-width: 64.375em) {
  .main-nav {
    background-color: white;

    &__container {
      display: flex;
      justify-content: space-between;
      height: 70px;
    }

    &__logo {
      line-height: 70px;
    }

    &__mobile-menu {
      display: flex;
      align-items: center;
    }

    &__mobile-menu-close {
      display: none;
    }

    &__links {
      display: flex;
      margin-right: 6rem;

      a {
        display: block;
        color: #353736;
        font-family: Raleway;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.95px;
        border-bottom: 5px solid transparent;
        line-height: 65px;
        transition: 0.3s all;

        &:hover {
          border-bottom: 5px solid #044b56;
        }

        &:active {
          border-bottom: 5px solid #044b56;
        }

        &:not(:first-child) {
          margin-left: 4rem;
        }
      }
    }

    &__cta {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__cta-button {
      &:first-child {
        color: #353736;
        font-family: Raleway;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.95px;
        padding: 0.8rem 5rem;
      }
    }

    &__menu {
      display: none;
    }
  }
}

// mobile nav
@media (max-width: 64.375em) {
  .main-nav {
    background-color: white;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }

    &__mobile-menu {
      width: 40rem;
      background: rgba(16, 47, 51, 0.99);
      box-shadow: 0 1px 11px rgba(0, 0, 0, 0.58);
      z-index: 999999;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      transition: 0.3s all;
      transform: translateX(110%);

      &.open {
        transform: translateX(0);
      }
    }

    &__mobile-menu-close {
      padding: 1rem;
      color: #ff7d7d;
      border: 2px solid #05abbb;
      border-radius: 50%;
      margin: 2rem;
      margin-bottom: 3rem;
      width: 3rem;
      height: 3rem;
    }

    &__links {
      margin-bottom: 6rem;

      a {
        display: block;
        color: #ffffff;
        font-family: Raleway;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.95px;

        border-left: 5px solid transparent;
        padding: 2rem;

        &:hover {
          border-left: 5px solid #2da6c2;
        }

        &:not(:first-child) {
          margin-top: 2rem;
        }
      }
    }

    &__cta {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__cta-button {
      &:first-child {
        color: #ffffff;
        font-family: Raleway;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.95px;
        padding: 0.8rem 5rem;
      }
    }

    &__menu {
      width: 4rem;
      height: 4rem;
      color: #353736;
    }
  }
}

// button
.button {
  cursor: pointer;
  padding: 1.2rem 5rem;
  font-family: Raleway;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.85px;
  border: 0;
  display: inline-block;

  &--color-black {
    color: #353736;
    background-color: #2da6c2;
  }

  &--color-white {
    color: white;
    background-color: #044b56;
  }
}

// CTA section
.main-header__cta {
  @media (max-width: 37.5em) {
    padding: 2rem;
  }

  max-width: 770px;
  text-shadow: -3px 0 3px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  & > * {
    display: inline-block;
  }

  &-title {
    font-size: 2.8rem;
    background-color: rgba(76, 139, 172, 0.7);
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: Raleway;
  }

  &-desc {
    color: #ffffff;
    font-family: Raleway;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.95px;

    div {
      background-color: rgba(76, 139, 172, 0.7);
      margin-bottom: 1rem;
      padding: 1rem;
      display: inline-block;
    }

    margin-bottom: 3rem;
  }
}

// feature
.feature-section {
  &__container {
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 220px;

    @media (max-width: 67.5em) {
      height: auto;
      justify-content: center;
      flex-flow: column;
      align-items: center;
    }
  }

  &--grey {
    .feature-section__container {
      flex-flow: row-reverse wrap;

      @media (max-width: 67.5em) {
        flex-flow: column wrap;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    width: 43rem;
    margin-bottom: 5rem;
    @media (max-width: 43rem) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    position: absolute;
    left: 0;

    @media (min-width: 67.5em) {
      box-shadow: 3px 4px 82px 0px rgba(0, 0, 0, 0.14);
    }
    @media (max-width: 67.5em) {
      position: initial;
    }
  }

  &__details {
    max-width: 68rem;
    text-align: left;
    color: #353736;
    font-family: Raleway;
    font-weight: bolder;

    @media (max-width: 37.5em) {
      padding: 3rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 3rem 0;
  }
}
