.main-header {
  &__cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

// section just below the full screen header
.feature-section {
  padding: 7rem 0;

  &--grey {
    background-color: #e5e7e7;
    padding-top: 25rem;

    @media (max-width: 67.5em) {
      padding-top: 7rem;
    }
  }
}

// some text
.some-text {
  padding: 0 2rem;
  padding-top: 20rem;
  padding-bottom: 8rem;
  text-align: center;

  @media (max-width: 67.5em) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__title {
    color: #353736;
    font-family: Raleway;
    font-size: 2.6rem;
    font-weight: bolder;
    text-transform: uppercase;
  }
  &__desc {
    margin: 3rem auto;
    color: #353736;
    font-family: Raleway;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
  }
}

// buysell
.buysell {
  background: linear-gradient(
      to top,
      rgba(18, 194, 234, 0.85),
      rgba(18, 194, 234, 0.85)
    ),
    url("../../assets/calculator.png") no-repeat;

  background-size: cover;

  padding: 10rem 2rem;

  .container {
    text-align: center;
  }

  &__title {
    text-shadow: -3px 0 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 2.4rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }
  &__btn-group {
    .button {
      margin: 3rem;
    }
  }
}
