// space saving variables
$learn-more: linear-gradient(
    to top,
    rgba(18, 194, 234, 0.7),
    rgba(18, 194, 234, 0.7)
  ),
  url("../../assets/faltu-woman.png") no-repeat;

$free-trial: linear-gradient(to top, rgba(4, 75, 86, 0.3), rgba(4, 75, 86, 0.3)),
  url("../../assets/meeting.png") no-repeat;
// space saving variables

.main-header {
  &__cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

// section just below the full screen header
.feature-section {
  @extend .container;

  padding: 80px 2rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;

  margin: -3rem;

  & > * {
    margin: 3rem;
  }

  @media (max-width: 65.8125em) {
    justify-content: space-around;
  }
}

.aeroplane-section {
  width: 100%;
  padding: 5rem 2rem;
  text-align: center;

  background: linear-gradient(
      to top,
      rgba(4, 75, 86, 0.759),
      rgba(4, 75, 86, 0.759)
    ),
    url("../../assets/aeroplane.png") no-repeat;
  background-size: cover;

  &__title {
    text-shadow: -3px 0 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 2.8rem;
    font-weight: bolder;
    text-transform: uppercase;
  }

  &__desc {
    text-shadow: -3px 0 3px rgba(0, 0, 0, 0.51);
    color: #ffffff;
    font-family: Raleway;
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 0.95px;
    margin: 2rem auto;
    max-width: 100rem;
    line-height: 1.6;
    margin-bottom: 4rem;
  }
}

.buysell {
  display: flex;
  flex-flow: row wrap;

  &__column {
    width: 50%;
    @media (max-width: 53.125em) {
      width: 100%;
    }

    padding: 42rem 2rem 10rem;
    text-align: center;

    &--learn-more {
      background: $learn-more;
    }
    &--free-trial {
      background: $free-trial;
    }

    &-title {
      text-shadow: -3px 0 3px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-family: Raleway;
      font-size: 2.4rem;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }

    &-desc {
      text-shadow: -3px 0 3px rgba(0, 0, 0, 0.51);
      color: #ffffff;
      font-family: Raleway;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.95px;
      line-height: 1.5;
      margin: 5rem auto;
      max-width: 70rem;
    }
  }
}
